In [4]:
import pandas as pd

In [11]:
_76ers = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_76ers_FTs.csv')
Bucks = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Bucks_FTs.csv')
Bulls = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Bulls_FTs.csv')
Cavs = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Cavaliers_FTs.csv')
Celtics = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Celtics_FTs.csv')
Clippers = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Clippers_FTs.csv')
Grizzlies = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Grizzlies_FTs.csv')
Hawks = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Hawks_FTs.csv')
Heat = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Heat_FTs.csv')
Hornets = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Hornets_FTs.csv')
Jazz = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Jazz_FTs.csv')
Kings = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Kings_FTs.csv')
Knicks = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Knicks_FTs.csv')
Lakers = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Lakers_FTs.csv')
Magic = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Magic_FTs.csv')
Mavericks = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Mavericks_FTs.csv')
Nets = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Nets_FTs.csv')
Nuggets = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Nuggets_FTs.csv')
Pacers = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Pacers_FTs.csv')
Pelicans = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Pelicans_FTs.csv')
Pistons = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Pistons_FTs.csv')
Raptors = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Raptors_FTs.csv')
Rockets = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Rockets_FTs.csv')
Spurs = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Spurs_FTs.csv')
Suns = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Suns_FTs.csv')
Thunder = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Thunder_FTs.csv')
Timberwolves = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Timberwolves_FTs.csv')
TrailBlazers = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_TrailBlazers_FTs.csv')
Warriors = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Warriors_FTs.csv')
Wizards = pd.read_csv('/Users/willhall/Desktop/2016-17_FTs/2016-17_Wizards_FTs.csv')

In [12]:
League = [_76ers,Bucks,Bulls,Cavs,Celtics,Clippers,Grizzlies,Hawks,Heat,Hornets,Jazz,Kings,Knicks,Lakers,Magic,Mavericks,Nets,Nuggets,Pacers,Pelicans,Pistons,Raptors,Rockets,Spurs,Suns,Thunder,Timberwolves,TrailBlazers,Warriors,Wizards]

In [13]:
df = pd.concat(League)

In [14]:
df.Rk.value_counts()

1106    30
783     30
431     30
463     30
495     30
527     30
559     30
591     30
623     30
655     30
687     30
719     30
751     30
815     30
1231    30
847     30
879     30
911     30
943     30
975     30
1007    30
1039    30
1071    30
1103    30
1135    30
1167    30
399     30
323     30
367     30
355     30
        ..
2423     1
2455     1
2390     1
2439     1
2389     1
2450     1
2418     1
2386     1
2397     1
2434     1
2414     1
2402     1
2446     1
2422     1
2458     1
2426     1
2394     1
2417     1
2449     1
2416     1
2448     1
2438     1
2459     1
2427     1
2395     1
2387     1
2419     1
2451     1
2406     1
2440     1
Name: Rk, Length: 2461, dtype: int64

In [17]:
df.rename(columns={'Unnamed: 3':'home_away',},inplace=True)

In [18]:
df.home_away.fillna(value='Home',inplace=True)

In [19]:
df.home_away.replace(to_replace='@',value='Away',inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60620 entries, 0 to 2131
Data columns (total 10 columns):
Rk                60620 non-null int64
Date              60620 non-null object
Tm                60620 non-null object
home_away         60620 non-null object
Opp               60620 non-null object
Qtr               60620 non-null object
Time              60620 non-null object
Score (Before)    60620 non-null object
Description       60620 non-null object
Score (After)     60620 non-null object
dtypes: int64(1), object(9)
memory usage: 5.1+ MB

## The next step is only if we want to save the df into a csv so we can use it everytime without going through all the steps again

In [1]:
df.to_csv(path_or_buf='/Users/eran/Galvanize_more_repositories/Task31_Free_Throw_Project/2016-17_FTs/Raw_df.csv',index=False) 
## Saving the df into a csv file, so won't have to converge all the csv files again everytime we run 
## this notebook. just insert your personal path e.g.:
## '/Users/willhall/Desktop/2016-17_FTs/Raw_df.csv'

NameError: name 'df' is not defined

In [5]:
df=pd.read_csv('/Users/eran/Galvanize_more_repositories/Task31_Free_Throw_Project/2016-17_FTs/Raw_df.csv') ## downloading 
## the df back to the notebook

In [6]:
df.head()

,Rk,Date,Tm,home_away,Opp,Qtr,Time,Score (Before),Description,Score (After)
0,1,10/26/16,PHI,Home,OKC,1st,09:10.0,PHI up 3 (5-2),D. Saric makes free throw 1 of 2,PHI up 4 (6-2)
1,2,10/26/16,PHI,Home,OKC,1st,09:10.0,PHI up 4 (6-2),D. Saric misses free throw 2 of 2,PHI up 4 (6-2)
2,3,10/26/16,PHI,Home,OKC,1st,03:28.0,PHI up 4 (18-14),J. Grant misses free throw 1 of 2,PHI up 4 (18-14)
3,4,10/26/16,PHI,Home,OKC,1st,03:28.0,PHI up 4 (18-14),J. Grant makes free throw 2 of 2,PHI up 5 (19-14)
4,5,10/26/16,PHI,Home,OKC,1st,02:04.0,PHI down 2 (19-21),J. Grant makes free throw 1 of 2,PHI down 1 (20-21)